body {
    background-color: #fff0f0;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #ebd4d4;
    border-width: 10px;
    width: 50%;
}

h1 {
    color: #463333;
}

h3 {
    color: #835858;
}